{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<link rel="stylesheet" href="/dist/output.css">
<div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-4">
  {{ range .Pages }}
  <div class="justify-self-center">
        <img src="{{.Params.image}}"
            width="256"
            height="256"
            alt="{{.Title}}"
        >
        <div>
        <h2>{{.Title}}</h2>
        <h5 class=" w-[256px] text-xl font-normal">{{.Params.description}}</h5>
        <a href="{{.Permalink}}"><button>More...</button></a>
        </div>
  </div>
  {{end}}
</div>
{{end}}
